<nav class="nav flex-row">
    <a class="nav-link active" aria-current="page" href="/">Play</a>
    <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" data-bs-offset="0,16">Heroes</a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/hero/">List</a></li>
            <li><a class="dropdown-item" href="/hero/add">Add hero</a></li>
        </ul>
    </span>
</nav>

<section>
